<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header form-card-header">
                <h3 class="mb-0"> Create a new order </h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label class="label-form" for="">Id</label>
                        <input class="form-control rounded-0" type="text" name="id">
                    </div>

                    <div class="form-group">
                        <label class="label-form" for="">Customer</label>
                        <input class="form-control rounded-0" type="text" name="customer">
                    </div>

                    <div class="form-group">
                        <label class="label-form" for="">Total</label>
                        <input class="form-control rounded-0" type="text" name="total">
                    </div>

                    <div class="form-group">
                        <label class="label-form" for="">Date Placed</label>
                        <input class="form-control rounded-0" type="text" name="placed">
                    </div>

                    <div class="form-group">
                        <label class="label-form" for="">Date Completed</label>
                        <input class="form-control rounded-0" type="text" name="completed">
                    </div>

                    <button class="btn btn-success float-center" type="button">
                      Submit 
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>