<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" routerLink="/sales" >Sales Volume</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link dropdown-toggle"  data-toggle="collapse" aria-expanded="false" href="#homeSubmenu">Module Orders</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li class="nav-item">
                <a  class="nav-link-inside" routerLink="/orders">Lastest Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-inside" routerLink="/createOrder" >Orders</a>
            </li>
        </ul>
    </li>

    <li class="nav-item active">
        <a class="nav-link dropdown-toggle"  data-toggle="collapse" aria-expanded="false" href="#homeSubmenu2">Module Customers</a>
        <ul class="collapse list-unstyled" id="homeSubmenu2">
            <li class="nav-item">
                <a class="nav-link-inside" routerLink="/list-customers">View Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-inside" routerLink="/createCustomer">Create a Customer</a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/health" >System Health</a>
    </li>
</ul>